*,
*:focus,
*:active,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
}

*:not(.round) {
  border-radius: 0px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body * {
  color: white;
}
